@mixin style--nav-item {
	font-size: $header-font-size;
	font-weight: $header-font-weight-bold;
	color: $text-color;
}

@mixin hover-btn-primary {
	color: $primary-color;
	box-shadow: unset;
	border: 2px solid $border-primary-color;
}

@mixin hover-text {
	color: $primary-color !important;
}

@mixin border-bottom-color($width, $alpha) {
	border-bottom: $width solid rgba($border-bottom-color, $alpha);
}
 @mixin padding-x-24 {
	padding-left: 24px;
	padding-right: 24px;
 }

 @mixin text-right {
	text-align: right;
 }